<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>listVoiture</title>
</head>
<body>
<h1>LISTE DES VOITURES</h1>
<table border="1">
    <tr>
        <td>SERIE</td>
        <td>DATE M C</td>
        <td>MODELE</td>
    </tr>
    {% for v in {}% }

</table>
</body>
</html>